In [8]:
print('Hello World!')

Hello World!

In [53]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import glob

#Collecting files for later importing

path = r'''C:\Users\Garrick\Documents\Springboard\Capstone Project 1\Datasets'''
filenames = list(glob.glob(path + "\*.csv"))
file = filenames[0]

BTC_df = pd.read_csv(file)
BTC_df.columns = ['Date', BTC_df.columns[1]+"_"+file[-9:-4]]
for file in filenames[1:]:
    load = pd.read_csv(file)
    load.columns = ['Date', load.columns[1]+"_"+file[-9:-4]]
    BTC_df = pd.merge(BTC_df, load, on='Date')

print(BTC_df.head())
print(BTC_df.tail())

         Date  Value_AVBLS  Value_MKPRU  Value_MWNTD  Value_MWNUS  \
0  2017-12-06         1.05     11878.43      82967.0   19746602.0
1  2017-12-05         1.06     11584.82      95492.0   19682034.0
2  2017-12-04         1.04     11332.62      82178.0   19610796.0
3  2017-12-03         1.03     11071.36      66294.0   19546323.0
4  2017-12-02         1.06     10883.91      98564.0   19503068.0

   Value_NADDU  Value_NTRAN  Value_NTRAT  Value_NTRBL
0     891235.0     405709.0  278526499.0      2279.26
1     885109.0     400686.0  278120790.0      2213.73
2     762992.0     353044.0  277720104.0      2005.93
3     683882.0     326354.0  277367060.0      2027.04
4     869274.0     412908.0  277040706.0      2256.32
            Date  Value_AVBLS  Value_MKPRU  Value_MWNTD  Value_MWNUS  \
3233  2009-01-07     0.000000          0.0          0.0          2.0
3234  2009-01-06     0.000000          0.0          0.0          2.0
3235  2009-01-05     0.000000          0.0          0.0          2.0
3236  2009-01-04     0.000000          0.0          0.0          2.0
3237  2009-01-03     0.000272          0.0          0.0          2.0

      Value_NADDU  Value_NTRAN  Value_NTRAT  Value_NTRBL
3233          0.0          0.0          1.0          1.0
3234          0.0          0.0          1.0          1.0
3235          0.0          0.0          1.0          1.0
3236          0.0          0.0          1.0          1.0
3237          1.0          1.0          1.0          1.0

In [54]:
#reseting index to date-time
BTC_df.set_index(BTC_df['Date'])

,Date,Value_AVBLS,Value_MKPRU,Value_MWNTD,Value_MWNUS,Value_NADDU,Value_NTRAN,Value_NTRAT,Value_NTRBL
Date,,,,,,,,,
2017-12-06,2017-12-06,1.050000,11878.43,82967.0,19746602.0,891235.0,405709.0,278526499.0,2279.26
2017-12-05,2017-12-05,1.060000,11584.82,95492.0,19682034.0,885109.0,400686.0,278120790.0,2213.73
2017-12-04,2017-12-04,1.040000,11332.62,82178.0,19610796.0,762992.0,353044.0,277720104.0,2005.93
2017-12-03,2017-12-03,1.030000,11071.36,66294.0,19546323.0,683882.0,326354.0,277367060.0,2027.04
2017-12-02,2017-12-02,1.060000,10883.91,98564.0,19503068.0,869274.0,412908.0,277040706.0,2256.32
2017-12-01,2017-12-01,1.060000,10147.37,101161.0,19430457.0,851419.0,384386.0,276627798.0,2301.71
2017-11-30,2017-11-30,1.060000,9879.32,75102.0,19373676.0,903004.0,398090.0,276243412.0,2301.09
2017-11-29,2017-11-29,1.060000,9952.50,80874.0,19261417.0,816744.0,365977.0,275845322.0,2346.00
2017-11-28,2017-11-28,1.040000,9718.29,77678.0,19215073.0,829650.0,379256.0,275479345.0,2230.91
2017-11-27,2017-11-27,1.040000,9284.14,70565.0,19152189.0,712606.0,329677.0,275100089.0,2154.75
2017-11-26,2017-11-26,1.040000,8707.40,75988.0,19114912.0,697525.0,336689.0,274770412.0,2158.26
2017-11-25,2017-11-25,1.040000,8250.97,62870.0,19087129.0,698358.0,305735.0,274433723.0,2051.91
2017-11-24,2017-11-24,1.050000,8148.94,87303.0,19046316.0,747161.0,352207.0,274127988.0,2243.35
2017-11-23,2017-11-23,1.060000,8268.03,52308.0,19012471.0,673818.0,256709.0,273775781.0,2087.06
2017-11-22,2017-11-22,1.050000,8059.80,79792.0,18966444.0,753813.0,371091.0,273519072.0,2145.03
2017-11-21,2017-11-21,1.010000,8255.59,79580.0,18937477.0,734768.0,336204.0,273147981.0,1921.16
2017-11-20,2017-11-20,1.040000,8007.65,65790.0,18902058.0,603429.0,264855.0,272811777.0,1655.34
2017-11-19,2017-11-19,1.040000,7817.14,71800.0,18866359.0,614839.0,270874.0,272546922.0,1991.72
2017-11-18,2017-11-18,1.030000,7786.88,67726.0,18832344.0,684253.0,306617.0,272276048.0,1836.02
2017-11-17,2017-11-17,1.020000,7815.03,75780.0,18797412.0,677301.0,310396.0,271969431.0,2042.07
2017-11-16,2017-11-16,1.040000,7301.42,81718.0,18770376.0,709142.0,321788.0,271659035.0,2117.02
2017-11-15,2017-11-15,1.020000,6635.41,62542.0,18732076.0,604054.0,271995.0,271337247.0,2124.96
2017-11-14,2017-11-14,1.040000,6550.22,61688.0,18704741.0,694828.0,309299.0,271065252.0,2209.27
2017-11-13,2017-11-13,1.050000,5716.30,33412.0,18662085.0,467890.0,185966.0,270755953.0,2324.57
2017-11-12,2017-11-12,1.050000,6362.85,41910.0,18630876.0,455431.0,194634.0,270569987.0,2432.92
2017-11-11,2017-11-11,1.050000,6719.39,50788.0,18599293.0,619943.0,271745.0,270375353.0,2264.54
2017-11-10,2017-11-10,1.020000,7158.03,80847.0,18570652.0,727945.0,341281.0,270103608.0,2230.59
2017-11-09,2017-11-09,1.020000,7415.87,63818.0,18527962.0,646100.0,301346.0,269762327.0,2092.68
2017-11-08,2017-11-08,1.020000,7092.12,87384.0,18484924.0,714349.0,335636.0,269460981.0,2151.51
2017-11-07,2017-11-07,1.040000,6989.07,69333.0,18452011.0,608650.0,271029.0,269125345.0,2037.81
...,...,...,...,...,...,...,...,...,...
2009-02-01,2009-02-01,0.000227,0.00,0.0,2.0,118.0,118.0,2660.0,1.00
2009-01-31,2009-01-31,0.000206,0.00,0.0,2.0,129.0,129.0,2542.0,1.00
2009-01-30,2009-01-30,0.000217,0.00,0.0,2.0,122.0,122.0,2413.0,1.00
2009-01-29,2009-01-29,0.000205,0.00,0.0,2.0,122.0,122.0,2291.0,1.00
2009-01-28,2009-01-28,0.000206,0.00,0.0,2.0,103.0,103.0,2169.0,1.00
2009-01-27,2009-01-27,0.000231,0.00,0.0,2.0,105.0,105.0,2066.0,1.00
2009-01-26,2009-01-26,0.000206,0.00,0.0,2.0,116.0,116.0,1961.0,1.00
2009-01-25,2009-01-25,0.000207,0.00,0.0,2.0,195.0,195.0,1845.0,1.00
2009-01-24,2009-01-24,0.000215,0.00,0.0,2.0,201.0,201.0,1650.0,1.00
2009-01-23,2009-01-23,0.000212,0.00,0.0,2.0,68.0,68.0,1449.0,1.00
2009-01-22,2009-01-22,0.000221,0.00,0.0,2.0,76.0,76.0,1381.0,1.00
2009-01-21,2009-01-21,0.000217,0.00,0.0,2.0,115.0,115.0,1305.0,1.00
2009-01-20,2009-01-20,0.000222,0.00,0.0,2.0,118.0,118.0,1190.0,1.00
2009-01-19,2009-01-19,0.000209,0.00,0.0,2.0,120.0,120.0,1072.0,1.00
2009-01-18,2009-01-18,0.000206,0.00,0.0,2.0,101.0,101.0,952.0,1.00
2009-01-17,2009-01-17,0.000208,0.00,0.0,2.0,109.0,109.0,851.0,1.00
2009-01-16,2009-01-16,0.000208,0.00,0.0,2.0,117.0,117.0,742.0,1.00
2009-01-15,2009-01-15,0.000231,0.00,0.0,2.0,136.0,136.0,625.0,1.00
2009-01-14,2009-01-14,0.000206,0.00,0.0,2.0,126.0,126.0,489.0,1.00
2009-01-13,2009-01-13,0.000208,0.00,0.0,2.0,117.0,116.0,363.0,1.00
2009-01-12,2009-01-12,0.000221,0.00,0.0,2.0,96.0,95.0,247.0,1.00
2009-01-11,2009-01-11,0.000205,0.00,0.0,2.0,106.0,106.0,152.0,1.00
2009-01-10,2009-01-10,0.000205,0.00,0.0,2.0,31.0,31.0,46.0,1.00
2009-01-09,2009-01-09,0.000205,0.00,0.0,2.0,14.0,14.0,15.0,1.00
2009-01-08,2009-01-08,0.000000,0.00,0.0,2.0,0.0,0.0,1.0,1.00
2009-01-07,2009-01-07,0.000000,0.00,0.0,2.0,0.0,0.0,1.0,1.00
2009-01-06,2009-01-06,0.000000,0.00,0.0,2.0,0.0,0.0,1.0,1.00
2009-01-05,2009-01-05,0.000000,0.00,0.0,2.0,0.0,0.0,1.0,1.00
2009-01-04,2009-01-04,0.000000,0.00,0.0,2.0,0.0,0.0,1.0,1.00
2009-01-03,2009-01-03,0.000272,0.00,0.0,2.0,1.0,1.0,1.0,1.00

In [61]:
BTC_df.drop(BTC_df.columns[1], axis=1, inplace=True)
print(BTC_df.head())

   Value_AVBLS  Value_MWNUS  Value_NADDU  Value_NTRAN  Value_NTRAT  \
0         1.05   19746602.0     891235.0     405709.0  278526499.0
1         1.06   19682034.0     885109.0     400686.0  278120790.0
2         1.04   19610796.0     762992.0     353044.0  277720104.0
3         1.03   19546323.0     683882.0     326354.0  277367060.0
4         1.06   19503068.0     869274.0     412908.0  277040706.0

   Value_NTRBL
0      2279.26
1      2213.73
2      2005.93
3      2027.04
4      2256.32